USE [master]
GO
/****** Object:  Database [Drinks]    Script Date: 2018-09-07 13:19:11 ******/
CREATE DATABASE [Drinks]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Drinks', FILENAME = N'C:\Users\Administrator\Drinks.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Drinks_log', FILENAME = N'C:\Users\Administrator\Drinks_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Drinks].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Drinks]
GO
USE [Drinks]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2018-09-07 13:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drink]    Script Date: 2018-09-07 13:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drink](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[Glass] [int] NULL,
	[Description] [varchar](300) NULL,
	[Instructions] [varchar](500) NULL,
 CONSTRAINT [PK_Drink] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DrinkToCategory]    Script Date: 2018-09-07 13:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrinkToCategory](
	[DrinkId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_DrinkToCategory] PRIMARY KEY CLUSTERED 
(
	[DrinkId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Glass]    Script Date: 2018-09-07 13:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Glass](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
 CONSTRAINT [PK_Glass] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredient]    Script Date: 2018-09-07 13:19:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
 CONSTRAINT [PK_Ingredient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngredientToDrink]    Script Date: 2018-09-07 13:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngredientToDrink](
	[DrinkId] [int] NOT NULL,
	[IngredientId] [int] NOT NULL,
	[MeasureOfDrink] [decimal](18, 2) NULL,
 CONSTRAINT [PK_IngredientToDrink] PRIMARY KEY CLUSTERED 
(
	[DrinkId] ASC,
	[IngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User1]    Script Date: 2018-09-07 13:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User1](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Adress] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[PassLvl] [int] NOT NULL,
 CONSTRAINT [PK_User1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name]) VALUES (1, N'Klassisk')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (2, N'Söt')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (3, N'Sur')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Drink] ON 

INSERT [dbo].[Drink] ([Id], [Name], [Glass], [Description], [Instructions]) VALUES (1, N'Mojito', NULL, N'Fräsch drink från Kuba, gjord på rom. socker och mynta. ', N'Ta lite lime och lägg i glaset, häll på sockerlag och muddla. Smiska lite mynta och släng i glaset. Fyll på med is och fyll upp till hälften med soda. Rör om så att myntan sprider sig i glaset. Fyll sedan upp med soda igen. Garnera med en myntakvist.')
INSERT [dbo].[Drink] ([Id], [Name], [Glass], [Description], [Instructions]) VALUES (2, N'Screwdriver', NULL, N'Enkel drink med vodka och apelsinjuice', N'Fyll glaset med is. Häll i vodkan och sedan apelsinjuicen. Garnera med en apelsinskiva')
INSERT [dbo].[Drink] ([Id], [Name], [Glass], [Description], [Instructions]) VALUES (3, N'Dry martini', NULL, N'En gammal klassiker! Hur torr den ska vara bestämmer du!', N'Hur torr vill du ha denne jävel? Ska den vara riktigt torr öppnar du martiniflaskan och förolämpar martinin, annars häller du lite i glaset. Sedan fylle du ett rörglas med is och gin. Rör runt tills glaset frostar. Häll sedan upp i glaset och garnera med en oliv.')
SET IDENTITY_INSERT [dbo].[Drink] OFF
INSERT [dbo].[DrinkToCategory] ([DrinkId], [CategoryId]) VALUES (1, 1)
INSERT [dbo].[DrinkToCategory] ([DrinkId], [CategoryId]) VALUES (1, 2)
INSERT [dbo].[DrinkToCategory] ([DrinkId], [CategoryId]) VALUES (2, 1)
SET IDENTITY_INSERT [dbo].[Glass] ON 

INSERT [dbo].[Glass] ([Id], [Name]) VALUES (1, N'Highball')
INSERT [dbo].[Glass] ([Id], [Name]) VALUES (2, N'Martini')
INSERT [dbo].[Glass] ([Id], [Name]) VALUES (3, N'Margarita')
SET IDENTITY_INSERT [dbo].[Glass] OFF
SET IDENTITY_INSERT [dbo].[Ingredient] ON 

INSERT [dbo].[Ingredient] ([Id], [Name]) VALUES (1, N'Ljus rom')
INSERT [dbo].[Ingredient] ([Id], [Name]) VALUES (2, N'Mörk rom')
INSERT [dbo].[Ingredient] ([Id], [Name]) VALUES (3, N'Ljus tequila')
SET IDENTITY_INSERT [dbo].[Ingredient] OFF
INSERT [dbo].[IngredientToDrink] ([DrinkId], [IngredientId], [MeasureOfDrink]) VALUES (1, 1, CAST(4.00 AS Decimal(18, 2)))
INSERT [dbo].[IngredientToDrink] ([DrinkId], [IngredientId], [MeasureOfDrink]) VALUES (1, 7, CAST(2.00 AS Decimal(18, 2)))
INSERT [dbo].[IngredientToDrink] ([DrinkId], [IngredientId], [MeasureOfDrink]) VALUES (1, 10, CAST(6.00 AS Decimal(18, 2)))
ALTER TABLE [dbo].[User1] ADD  CONSTRAINT [DF_User1_PassLvl]  DEFAULT ((1)) FOR [PassLvl]
GO
ALTER TABLE [dbo].[Drink]  WITH CHECK ADD  CONSTRAINT [FK_Drink_Glass] FOREIGN KEY([Glass])
REFERENCES [dbo].[Glass] ([Id])
GO
ALTER TABLE [dbo].[Drink] CHECK CONSTRAINT [FK_Drink_Glass]
GO
ALTER TABLE [dbo].[DrinkToCategory]  WITH CHECK ADD  CONSTRAINT [FK_DrinkToCategory_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[DrinkToCategory] CHECK CONSTRAINT [FK_DrinkToCategory_Category]
GO
ALTER TABLE [dbo].[DrinkToCategory]  WITH CHECK ADD  CONSTRAINT [FK_DrinkToCategory_Drink] FOREIGN KEY([DrinkId])
REFERENCES [dbo].[Drink] ([Id])
GO
ALTER TABLE [dbo].[DrinkToCategory] CHECK CONSTRAINT [FK_DrinkToCategory_Drink]
GO
ALTER TABLE [dbo].[IngredientToDrink]  WITH CHECK ADD  CONSTRAINT [FK_IngredientToDrink_Drink] FOREIGN KEY([DrinkId])
REFERENCES [dbo].[Drink] ([Id])
GO
ALTER TABLE [dbo].[IngredientToDrink] CHECK CONSTRAINT [FK_IngredientToDrink_Drink]
GO
ALTER TABLE [dbo].[IngredientToDrink]  WITH CHECK ADD  CONSTRAINT [FK_IngredientToDrink_Ingredient] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[Ingredient] ([Id])
GO
ALTER TABLE [dbo].[IngredientToDrink] CHECK CONSTRAINT [FK_IngredientToDrink_Ingredient]
GO
USE [master]
GO
